body{
	background-color:lightgreen;
    font-family: "メイリオ";
}

.title{
    text-align: center;
    font-size: 40px;
}

table{
	margin:10px auto;
}
td.card{
	width:150px;
	height:150px;
	margin:2px;
	background-size:cover;
}
td.card.back{
    background-image:url(../images/z01.gif) !important;
  }