body{
    background-image: url(../images/160617_0.png);
    font-family: "メイリオ";
}

.bg{
    background-color: white;
}

.title{
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.main{
    justify-content: center;
    text-align: center;
}

#start{
    font-size: 30px;

}


table{
	margin:10px auto;
}
td.card{
	width:150px;
	height:150px;
	margin:2px;
	background-size:cover;
}
td.card.back{
    background-image:url(../images/z01.gif) !important;
  }